<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abbreviation</title>
    <style>
        abbr{
            font-style:oblique;
            color: blueviolet;
        }
    </style>
  </head>
  <body>
    <div>
      <p>
        <!-- An abbreviation or acronym -->
        <abbr>AC</abbr>(Air Cooler). <abbr>Govt.</abbr> is a written
        abbreviation for government.
      </p>
    </div>
  </body>
</html>
