<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address</title>
  </head>
  <body>
    <!-- Contact Info -->
    <address>
        <h1>Address Info</h1>  
        <hr><hr>
      <p>
        <b>Rajasaraswathi k</b><br>
        <p>1/2,</p><br>
        <p>Maithanam Road</p><br>
        <p>Tenkasi</p><br>
        <p>627806</p>
        <a href="rajasaraswathik@gmail.com">rajasaraswathik@gmail.com</a><br><br>
        <a href="9344547875">9344547875</a>
      </p>
    </address>
  </body>
</html>
