<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>biSirectionalOverride</title>
  </head>
  <body>
    <div>
      <bdo>
        A fish is riety of vertebrates of several evolutionary lines. 
        It describes a life-form ratany of approximately 34,000 species of vertebrate animals. 
        The term fish is applied to a vaher than a taxonomic group.
      </bdo>
      <bdo dir="rtl">
        A fish is riety of vertebrates of several evolutionary lines. 
        It describes a life-form ratany of approximately 34,000 species of vertebrate animals. 
        The term fish is applied to a vaher than a taxonomic group.
      </bdo>
    </div>
  </body>
</html>
