<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bidirectional Text</title>
    <style>
      bdi {
        background-color: rgb(158, 156, 156);
        color: white;
      }
    </style>
  </head>
  <body>
    <p>
      <bdo dir="rtl">
        A fish is riety of vertebrates of several evolutionary lines.
        <b><bdi>It describes a life-form </bdi></b>ratany of approximately
        34,000 species of vertebrate animals. The term fish is applied to a
        vaher than a taxonomic group.
      </bdo>
    </p>
  </body>
</html>
