<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <style>
        li{
            padding: 9px;
        }
    </style>
</head>
<body>
    <p>
        <ul>
            <li><data title="Flower">Rose</data></li>
            <li><data title="Animal">Elephant</data></li>
            <li><data title="Car">Porsche</data></li>
            <li><data title="rifle"> Kalashnikov AK 47</data></li>
        </ul>
    </p>
</body>
</html>