<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Define Keyboard Input</title>
    <style>
      kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        color: #333;
        line-height: 1;
        padding: 1px;
      }
    </style>
  </head>
  <body>
    <p>press <kbd>fn</kbd> + <kbd>f5</kbd> to re-render the page.</p>
  </body>
</html>
