<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Description List</title>
  </head>
  <body>
    <!-- Description List -->
    <dl>
      <!-- Description Terms, Data Terms-->
      <dt>Mouse</dt>
      <!-- Description -->
      <dd>Mouse is One of the common Computer hardware</dd>
      <dt>Keyboard</dt>
      <dd>Keyboard is One of the common Computer hardwar</dd>
    </dl>
  </body>
</html>
