<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Division</title>
    <style>
      div {
        background-color: rgb(164, 163, 163);
        border-radius: 5px;
        padding: 4px;        
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Hill pigeon</h1>
      <p>
        The hill pigeon, eastern rock dove, or Turkestan hill dove is a species
        of bird in the family Columbidae.
      </p>
    </div>
  </body>
</html>
