<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal Rule</title>
    <style>
      .div1 {
        background-color: rgb(180, 219, 206);
        padding: 50px;
        margin: 5px;
        border-radius: 5px;
      }
      hr {
        margin: 0.9px;
      }
      .div2 {
        background-color: rgb(193, 172, 212);
        padding: 50px;
        border-radius: 5px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div class="div1"></div>
    <!-- Horizontal Rule -->
    <hr />
    <hr />
    <div class="div2"></div>
  </body>
</html>
