<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <style>
      * {
        text-align: center;
        justify-content: center;
      }
      main {
        border: 1px solid rgb(79, 75, 75);
        border-radius: 9px;
        width: 500px;
        margin-left: 450px;
      }
     
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1>glossy ibis(அன்றில் பறவை)</h1>
        <img src="bird.jpg" alt="glossy ibis" />
        <p>
          The<b>glossy ibis</b> (Plegadis falcinellus) is a water bird in the
          order Pelecaniformes and the ibis and spoonbill family
          Threskiornithidae. The scientific name derives from Ancient Greek
          plegados and Latin, falcis, both meaning "sickle" and referring to the
          distinctive shape of the bill.
        </p>
      </section>
    </main>
  </body>
</html>
