<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigatiion</title>
    <style>
      .birds {
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="crumbs">
      <a href="#" class="birds">Peacock</a>
      <a href="#" class="birds">Pigeon</a>
      <a href="#" class="birds">Sparrow</a>
      <span class="birds"> Parrot </span>
    </nav>
  </body>
</html>
