<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
   <style>
    li{
        margin: 10px;
    }
   </style>
</head>
<body>
    <section>
      <p>
        <ol>
            <li>
                <q>Lion</q>
            </li>
            <li>
                <q>Tiger</q>
            </li>
            <li>
                <q>Horse</q>
            </li>
            <li>
                <q>Elephant</q>
            </li>
        </ol>
      </p>
    </section>
</body>
</html>