<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Section</title>
    <style>
      section {
        background-color: rgb(244, 233, 254);
        border-radius: 8px;
        padding: 10px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <time>02.03.2023 05:33:10</time>
    <h1>Penguins</h1>
    <section>
      <h3>Introduction</h3>
      <div>
        Penguins (order Sphenisciformes, family Spheniscidae) are a group of
        aquatic flightless birds.
      </div>
    </section>
    <section>
      <h3>Pinguinus</h3>
      <div>
        Since 1871, the Latin word Pinguinus has been used in scientific
        classification to name the genus of the great auk (Pinguinus impennis,
        meaning "penguin without flight feathers"), which became extinct in the
        mid-19th century.
      </div>
    </section>
  </body>
</html>
