<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Break</title>
  </head>
  <body>
    <!-- &shy; -->
    <!-- An invisible, "soft" hyphen. 
        This character is not rendered visibly; 
        instead, it marks a place where the browser should break the word if hyphenation is necessary. 
        In HTML, use &shy; to insert a soft hyphen. -->
    
    <p>Highway&shy;Construction Private Financing Act</p>
  </body>
</html>
