<!DOCTYPE html>
<html>
  <head>
    <title>Map Tag</title>
    <base href="../try-it/" />
  </head>
  <body>
    <h1>Laptop and coffee Mapping</h1>
    <img src="../../Pictures/laptop.jpg" alt="Laptop" usemap="#laptop" width="500px"/>
    <map name="laptop">
      <area
        shape="rect"
        coords="763,541,3241,2777"
        href="https://en.wikipedia.org/wiki/Laptop"
        alt="Laptop"
        target="_blank"
      />
      <area
        shape="circle"
        coords=""
        href="https://en.wikipedia.org/wiki/Coffee"
        alt="Coffee"
        target="_blank"
      />
    </map>
    <!-- <h2>Map </h2>
    <img src="./Pictures/computer.png"  alt="Laptop" usemap="#workmap"/>
    <map name="workmap">
      <area shape="rect " 
        coords="20,19,126,53"
        href="" 
        alt="HTML Tutorial"
        target="_blank" />
      <area shape="rect" 
        coords="22,83,126,125"
        alt="PHP Tutorial"
        href="" 
        target="_blank" />
      <area shape="circle" 
        coords="73,168,32"
        alt="CSS Tutorial"
        href="https://www.wikitechy.com/css/css-introduction" 
        target="_blank" />
    </map> -->
  </body>
</html>
